body{
    background-color: #DCD9D4;
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
 background-blend-mode: soft-light,screen;
}
.contenedor{
    margin:10px;
    padding:5px;
    border:1px solid rgb(3, 1, 70);
    border-radius: 8px;
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);

}


#barra-superior{
    display:grid;
    grid-template-columns: 1fr 1fr;
  
}

#caja-redes-sociales{
    display:flex;
    justify-content: end;
}

#redes-sociales{
    display:flex;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    border-radius: 8px;
    padding:5px;
   
}

.boton-edit{
   
   background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
   border:2px solid #ffffff;
   border-radius: 8px;
   padding:5px;
   margin-right: 1rem;
   
}



#logo-argentina a img{
    width:170px;
    height:60px;

}
#redes-sociales a img{
    width: 40px;
    margin: .25rem;
}
#banner{
    margin-top: .5rem;
    display:flex;
    padding:5px;
    border-radius: 8px;
   background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
#banner img{
    width: 20%;
    height: 20%;
}

.texto-banner{
    margin: 20px;
    color: aliceblue;
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}


.presentación{
    display: flex;
    margin: .5rem;
    border-radius: 15px;
    border:solid 2px rgb(0, 44, 121);
    padding:1rem;
    background-image: linear-gradient(to top, #2a416dbc 0%, #81a1da 100%);
    
}

.texto-presentación{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: medium;
}

.foto-perfil{
    float:right;
    margin-left:2rem
   
}
/*0000000000000000000000000000*/
.tarjetas{
   
    display:flex;
    gap: 10px;
    margin: 1rem 2rem;
   
    
}

.tar-cabeza{
    display: flexbox;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    padding: 1rem;
    background-color: white ;
    opacity: .95;
    border-radius: 20px;
   
}

.cabeza-tarjeta{
    width: 100%;
    
}

.tar-cabeza:hover{
    border: #246ac7 solid 3px;
}




       

  /*0000000000000000000000000000*/